CompileFlags:
  Add:
    [
      -std=c++23,
      -Wall,
      -Wno-c++98-compat,
      -Wno-pre-c++20-compat,
      -Ilib/metal-cpp,
      -Ilib/metal-cpp-extensions,
      -Isrc,
    ]
  Compiler: /opt/homebrew/opt/llvm/bin/clang++
